<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">      
      <ion-back-button></ion-back-button>     
    </ion-buttons>    
    <ion-buttons slot="end">      
      <ion-button *ngIf="modo != 0" (click)="confirmarEliminacion()">
        <ion-icon name="trash"></ion-icon> 
      </ion-button>
      <ion-menu-button></ion-menu-button>     
    </ion-buttons>    
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>    
    <ion-card>
      <form (ngSubmit)="enviarForm()" [formGroup]="clienteForm">
      
      <!-- Fila -->
      <ion-row>
        <ion-col>         
          <ion-item>
            <ion-label position="floating">Nombres</ion-label>
            <ion-input formControlName="Nombres" type="text" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- Fila -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Primer apellido</ion-label>
            <ion-input formControlName="Apellido1" type="text" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- Fila -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Segundo apellido</ion-label>
            <ion-input formControlName="Apellido2" type="text"  ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- Fila -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Observaciones</ion-label>
            <ion-textarea formControlName="Observaciones" ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="full" color="tertiary" [disabled]="!clienteForm.valid">Guardar</ion-button>
        </ion-col>
      </ion-row>
    </form>
    </ion-card>        
  </ion-grid>
</ion-content>
